@font-face {
    font-family: "Inter Medium";
    src: url(assets/fonts/Inter/Inter-Medium.woff);
}
@font-face {
    font-family: "Inter Light";
    src: url(assets/fonts/Inter/Inter-Light-BETA.woff);
}
@font-face {
    font-family: "Inter Regular";
    src: url(assets/fonts/Inter/Inter-Regular.woff);
}
@font-face {
    font-family: "Inter Black";
    src: url(assets/fonts/Inter/Inter-Black.woff);
}
@font-face {
    font-family: "Inter Bold";
    src: url(assets/fonts/Inter/Inter-Bold.woff);
}
@font-face {
    font-family: "Inter ExtraBold";
    src: url(assets/fonts/Inter/Inter-ExtraBold.woff);
}
@font-face {
    font-family: "Oswald Bold";
    src: url(assets/fonts/Oswald/Oswald-Bold.woff);
}
@font-face {
    font-family: "Oswald DemiBold";
    src: url(assets/fonts/Oswald/Oswald-DemiBold.woff);
}
@font-face {
    font-family: "Oswald ExtraLight";
    src: url(assets/fonts/Oswald/Oswald-ExtraLight.woff);
}
@font-face {
    font-family: "Oswald Heavy";
    src: url(assets/fonts/Oswald/Oswald-Heavy.woff);
}
@font-face {
    font-family: "Oswald Light";
    src: url(assets/fonts/Oswald/Oswald-Light.woff);
}
@font-face {
    font-family: "Oswald Medium";
    src: url(assets/fonts/Oswald/Oswald-Medium.woff);
}
@font-face {
    font-family: "Oswald Light";
    src: url(assets/font/Oswald/Oswald-Light.woff);
}
:root {
    --custom-yellow: #E9B41A;
    --white: #ffffff;
    --custom-black: #1C1500;
  }

@media screen and (min-device-width: 700px) and (max-device-width: 1024px) {
img.logo-img {
    width: 475px;
}
a.nav-link {
    font-size: 17px;
}
a.navbar-brand img {
    width: 130px;
}
button.btn.btn-outline-success.my-2.my-sm-0 {
    background-color: var(--custom-yellow);
    color: var(--white);
    font-family: 'Inter Bold';
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    border-radius: 15px;
    border: 0px;
    width: 167px;
}


h1.first-heading {
    font-weight: 700;
    font-size: 49px;
    color: var(--white);
    font-family: 'Oswald Bold';
    font-size: 65px;
}
li.lists {
    font-size: 20px;
    font-family: 'Inter Bold';
    font-weight: 600;
    color: #fff;
}
span.number {
    color: var(--custom-yellow);
    font-weight: 600;
    font-family: 'Oswald Bold';
    font-size: 30px;
}
span.call-for-qoutation {
    font-size: 23px;
    color: var(--white);
    font-weight: 400;
    margin-left: 17px;
    font-family: 'Inter Light';
}

span.counter-title {
    font-size: 25px;
    font-family: 'Inter Bold';
    font-weight: 600;
    position: relative;
    top: -19px;
    display: block;
}
span.counter-description {
    font-family: 'Inter Regular';
    font-size: 20px;
    color: #B5B5B5;
    font-weight: 500;
    margin-left: 0;
    position: relative;
    top: -52px;
}
span.counter-title-1 {
    font-size: 25px;
    font-family: 'Inter Regular';
    font-weight: 600;
    position: relative;
    top: -19px;
    display: block;
}
span.counter-description-1, span.counter-description-2{
    font-family: 'Inter Regular';
    font-size: 20px;
    color: #B5B5B5;
    font-weight: 500;
    margin-left: 0;
    position: relative;
    top: -52px;
}
button.tablinks {
    color: #fff;
    font-family: 'Inter Bold';
    font-weight: 700;
    font-size: 17px;
    border-bottom: 1px solid #505050;
}
h1.logo {
    font-weight: 900;
    font-family: 'Inter Black';
    font-size: 45px;
    color: var(--custom-yellow);
    text-transform: uppercase;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 24% !important;
    max-width: 25%;
}
p.tab-content-title {
    font-family: 'Inter Light';
    font-weight: 400;
    font-size: 15px;
    color: #798196;
}
img.portfolio-logo {
    width: 175px;
}
.tab button {
    display: block;
    background-color: inherit;
    color: var(--white);
    padding: 21px 5px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
img.offer-logo {
    width: 250px;
    position: relative;
    left: -21px;
}
h4.offer-title {
    font-family: 'Inter Bold';
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 5px solid #E9B41A;
    width: 207px;
    color: var(--white);
}
.offer-heading {
    font-weight: 700;
    font-size: 49px;
    color: var(--white);
    font-family: 'Oswald Bold';
    font-size: 41px;
    margin-bottom: 50px;
}
h4.offer-title-service {
    font-family: 'Inter Bold';
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
}
p.offer-para {
    font-family: 'Inter';
    color: var(--white);
    font-weight: 400;
    font-size: 15px;
}
h2.service-offer {
    font-family: 'Oswald Bold';
    font-weight: 700;
    font-size: 50px;
}
.col-md-6.service-column {
    width: 49% !important;
    max-width: 49%;
}
img.service-offer-img {
    width: 293px;
    margin-bottom: 16px;
    height: 388px;
}
img.what-say-img {
    width: 100%;
}
img.launch-your-business {
    width: 100%;
    margin-bottom: 9px;
}
h2.service-offer {
    font-family: 'Oswald Bold';
    font-weight: 700;
    font-size: 47px;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 24%;
    max-width: 25%;
}
h1.title-contact-form {
    font-family: 'Oswald Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 47.4px;
    color: var(--white);
    margin: 0pc 37px 0 71px;
    text-align: end;
    margin-bottom: 16px;
}
img.footer-logo {
    width: 200px;
}
p.footer-para {
    font-family: 'Inter Light';
    font-style: normal;
    font-weight: 400;
    font-size: 15.3333px;
    color: var(--white);
}
h4.footer-headings {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20.33px;
    color: var(--white);
}
a.uppar-anchor {
    font-family: 'Inter Light';
    font-style: normal;
    font-weight: 400;
    font-size: 15.3333px;
    color: var(--white);
}
p.copyright-txt {
    font-family: 'Inter Light';
    font-style: normal;
    font-weight: 400;
    font-size: 15.3333px;
    color: var(--white);
}
.footer-links {
    padding: 8px 0px 0px 58px;
}
/* Professional Page */
.container-fluid.black-bg {
    background-color: #000;
    padding: 65px 99px;
    text-align: center;
}
h1.professional-title {
    font-family: 'Oswald Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 47.83px;
    color: var(--white);
}
h1.professional-page-title {
    font-family: 'Oswald Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 47.36px;
    text-transform: capitalize;
}
h1.professional-page-title {
    font-family: 'Oswald Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 47.36px;
    text-transform: capitalize;
}
p.professional-page-para {
    font-family: 'Inter Light';
    font-style: normal;
    font-weight: 400;
    font-size: 14.1202px;
    color: #798196;
    margin-top: 20px;
}
img.professional-page-img {
    width: 387px;
    height: 577px;
}
}